:root {
  --fundo-aside: #333333;
  --fundo-main: #CBCBCB;
  --fundo-branco: #FFFDFD;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 158fr 1282fr;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
}

aside {
  background-color: var(--fundo-aside);
  width: 100%;
  grid-row-start: 1;
  grid-row-end: 3;
}

main {
  background-color: var(--fundo-main);
  grid-column-start: 2;
  grid-column-end: 3;
  padding: 7.5rem 7.9rem;
}

.logo-smn {
  height: 9.5rem;
  width: 9.5rem;
  margin: 2.4rem;
}

.visor {
  background-color: var(--fundo-branco);
  border-bottom: 1.5rem solid var(--fundo-main);
}