@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* -- reset -- */
:root {
  --fundo-aside: #333333;
  --fundo-cinza: #cbcbcb;
  --fundo-branco: #fffdfd;
  --fundo-botoes: #d9d9d9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  max-width: 1440px;
  margin: auto;
}

/* -- Display Flex -- */

header,
.filtros,
.cadastros,
.container-botoes,
.botoes {
  display: flex;
}

/* -- Estrutura -- */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 158fr 1282fr;
}

header {
  width: 100%;
  justify-content: center;
}
.logo-smn {
  height: 9.5rem;
  width: 9.5rem;
  margin: 2.4rem;
}

main {
  background-color: var(--fundo-cinza);
  grid-column-start: 2;
  grid-column-end: 3;
  padding: 7.5rem 7.9rem;
}

/* -- Visor -- */

.visor {
  background-color: var(--fundo-branco);
  border-bottom: 1.5rem solid var(--fundo-cinza);
  padding: 2.5rem 3.9rem;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 816fr 456fr;
  border-radius: 2rem 2rem 0 0;
}

.filtros,
.cadastros {
  font-size: 2.4rem;
  font-weight: 400;
}

.campos {
  background-color: var(--fundo-botoes);
  height: 5rem;
  border-radius: 0.5rem;
  width: 100%;
  padding-left: 2.5rem;
  font-size: 2.2rem;
}

.filtros {
  margin-bottom: 3.6rem;
}
.filtros #visorProcurar {
  border: none;
}

.filtros .campos-visor {
  display: flex;
}

.filtros img {
  padding-left: 1.6rem;
  margin-right: -5rem;
  z-index: 1;
}

.cronometro {
  order: 1;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  text-align: center;
}
.cronometro p {
  font-family: 'Irish Grover', cursive;
  font-size: 6rem;
}

.container-botoes {
  color: var(--fundo-branco);
  justify-content: center;
}

.botoes {
  flex-direction: column;
}
.botoes:hover {
  color: #000;
}

.botao {
  border: #000 solid 0.15rem;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  margin: 0 1rem;
}
.botao#botaoIniciar {
  background: #6b7d87 url('../img/play.svg') no-repeat center;
}
.botao#botaoPausar {
  background: #6b7d87 url('../img/pause.svg') no-repeat center;
}
.botao#botaoFinalizar {
  background: #6b7d87 url('../img/stop.svg') no-repeat center;
}
.pausado#botaoPausar {
  background-image: url('../img/play.svg') !important;
}

/* -- Tabela -- */

.tabela {
  background-color: var(--fundo-branco);
  padding: 3.9rem;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  height: 6.7rem;
  font-size: 1.8rem;
  font-weight: 700;
}

td:first-child {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

td:last-child {
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
}

thead th {
  width: 25%;
  font-size: 2rem;
  font-weight: 300;
}

thead th:nth-child(4) {
  width: 15%;
}

thead th:nth-child(5) {
  width: 5%;
}

thead th:nth-child(6) {
  width: 5%;
}

td {
  text-align: center;
}

tr:nth-child(odd) {
  background-color: var(--fundo-cinza);
}

thead tr:first-child {
  background-color: var(--fundo-branco);
}

.icone-editar {
  background: url('../img/edit.svg') no-repeat center;
  background-size: 2.5rem;
}

.icone-lixeira {
  background: url('../img/trash.svg') no-repeat center;
  background-size: 2.5rem;
}

.icone-editar:hover {
  background-image: url('../img/edit.svg');
}

.icone-lixeira:hover {
  background-image: url('../img/trash.svg');
}

@media screen and (min-width: 1321px) {
  aside {
    background-color: var(--fundo-aside);
    width: 100%;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  nav {
    display: flex;
    flex-direction: column;
    padding: 7rem;
  }
  asside nav a {
    margin: 5rem;
  }
  .filtros .container-campos-visor:first-child {
    width: 53%;
  }
  .filtros .container-campos-visor:last-child,
  .cadastros .container-campos-visor:last-child {
    padding-left: 9.4rem;
    width: 47%;
  }

  .cadastros .container-campos-visor {
    width: 26.5%;
  }

  .cadastros .container-campos-visor:nth-child(even) {
    display: flex;
    justify-content: flex-end;
  }

  .cadastros .campos-visor {
    width: 85%;
  }

  .cadastros .campos {
    height: 2.7rem;
  }

  .cadastros .container-campos-visor:last-child .campos-visor {
    width: 100%;
  }

  .tela-pequena {
    display: none;
  }
}

@media screen and (max-width: 1320px) {
  body {
    display: block;
  }
  aside {
    display: none;
  }
  header {
    background-color: var(--fundo-cinza);
  }
  .logo-smn {
    height: 4.7rem;
    width: 4.7rem;
    margin: 1rem;
  }
  main {
    background-color: var(--fundo-branco);
    padding: 0;
  }
  .visor {
    display: flex;
    flex-direction: column;
    padding: 1.2rem;
    border: none;
  }
  .filtros,
  .cadastros {
    font-size: 1.3rem;
    text-align: center;
  }
  .campos {
    height: 2.5rem;
    padding-left: 0.7rem;
    font-size: 1.5rem;
  }
  .filtros {
    order: 2;
    margin: 2.2rem 0;
  }
  .cadastros {
    order: 0;
    margin-bottom: 3.2rem;
  }
  .container-campos-visor {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .cadastros .container-campos-visor .campos-visor {
    width: 90%;
  }

  .filtros #visorProcurar {
    margin-right: 1.8rem;
  }

  .tabela {
    padding: 1.2rem;
  }

  .tela-grande {
    display: none;
  }

  thead th {
    width: 15%;
    font-size: 1.5rem;
  }

  thead th:nth-child(5) {
    width: 4%;
  }

  thead th:nth-child(6) {
    width: 4%;
  }

  .icone-editar,
  .icone-lixeira {
    background-size: 1.5rem;
  }

  td {
    padding: 1rem;
    font-size: 1.3rem;
    overflow: scroll;
  }
}
